/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;

  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-appearance: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  margin: 0.6rem;
}

a {
  outline: none;
  text-decoration: none;
  color: 000;
  cursor: pointer;
  color: #5f6368;
}
img {
  cursor: pointer;
}

button {
  cursor: pointer;
  color: #5f6368;
}
a:focus,
a:hover {
  border-bottom: 1px solid 000;
  text-decoration: underline;
  color: 000;
}

nav {
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.navLeft {
  display: flex;
  margin: 1rem;
}

.navRight {
  display: flex;
  margin: 1rem;
  align-items: center;
}

.login {
  font-size: 13px;
  padding: 0.5rem;
  border: none;
  background-color: #4285f4;
  font-weight: bold;
  outline: none;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

section {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 55%;

  align-items: center;
  justify-content: center;
}
.search {
  background-image: url("/assets/search_black_24dp.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border: 1px solid #dfe1e5;
  outline: none;
  width: 600px;
  border-radius: 24px;
  margin-top: 2rem;
}

input:focus,
input:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-btn {
  border-radius: 4px;
  cursor: pointer;
  min-width: 54px;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border: none;
  margin-top: 1.5rem;
}

button:focus,
button:hover {
  color: rgba(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

footer {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  font-style: normal;
  background: #f2f2f2;

  font-size: 14px;
  line-height: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.footerLeft {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footerRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
